@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* font-family: 'Lato', sans-serif; */

html, body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal!important;
    line-height: normal!important;
}

nav.navbar {
    background-color: #EB5757!important;
    min-height: 60px;
}

nav.navbar a {
    color: #FFFFFF!important;
    font-size: 20px!important;
}

nav.navbar button {
    border: 0;
}

nav.navbar a.navbar-brand {
    font-weight: bold!important;
}

nav.navbar li.nav-item {
    font-weight: 400!important;
}